<div *ngIf="auth.isAuthenticated()" >
  <div class="row">
    <div class="col-xs-12">
      <h3 class="pull-left">All plants</h3> <button class="btn btn-success pull-right" style="margin: 20px 0 10px 0" (click)="onNewPlant()">New Plant</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-plant-item
        *ngFor="let plantEl of plants;"
        [plant]="plantEl"
        [index]="plantEl._id">
      </app-plant-item>
    </div>
  </div>
</div>

<div class="panel panel-default profile-area" *ngIf="!auth.isAuthenticated()">
  <div class="panel-heading"><h3>Please login to use this application</h3></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">

        <div class="app-msg-helper">
          <p class="bg-primary">You shouldn't be here!</p>
        </div>

        <img class="img-responsive img-rounded clearfix " src="https://media.giphy.com/media/3o6fIQzTpZkvB573UI/giphy.gif" />

      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
