<div class="media">
  <a
    style="cursor: pointer;"
    [routerLink]="[index]"
    routerLinkActive="active"
    class="list-group-item clearfix">
    <div class="media-left" style="max-width: 25%; min-width: 25%; width: 100px;">
        <img
           [src]="plant.imagePath"
           alt="{{ plant.name }}"
           class="media-object"
           style="width: 100px;">
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ plant.name }}</h4>
      {{ plant.description.substr(0,50) }}...
    </div>
  </a>
</div>
