<div class="row" *ngIf="auth.isAuthenticated()">
  <div class="col-xs-12">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </div>
  <div class="loading" *ngIf="loading">
    <img src="../../../assets/loading.svg" />
  </div>
  <div class="col-xs-12">
    <form [formGroup]="plantForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!plantForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control"
              #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="genus">Genus ( eg: Pilea )</label>
            <input
              type="text"
              id="genus"
              class="form-control"
              formControlName="genus" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="type">Type ( eg: Houseplant )</label>
            <input
              type="text"
              id="type"
              class="form-control"
              formControlName="type" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="waterLevel">Water level ( 1-10 )</label>
            <input
              type="number"
              id="waterLevel"
              class="form-control"
              formControlName="waterLevel"
              />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="sunLevel">Sun level ( 1-10 )</label>
            <input
              type="number"
              id="sunLevel"
              class="form-control"
              formControlName="sunLevel"
              />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="nicknames">
          <div
            class="row"
            *ngFor="let nicknameCtrl of plantForm.get('nicknames').controls; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px;">
            <div class="col-xs-8">
              <input
                type="text"
                class="form-control"
                formControlName="name">
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteNickname(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddNickname()">Add Nickname</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <hr>
  </div>
</div>

<div class="panel panel-default profile-area" *ngIf="!auth.isAuthenticated()">
  <div class="panel-heading"><h3>Please login to use this application</h3></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">

        <div class="app-msg-helper">
          <p class="bg-primary">You shouldn't be here!</p>
        </div>

        <img class="img-responsive img-rounded clearfix " src="https://media.giphy.com/media/3o6fIQzTpZkvB573UI/giphy.gif" />

      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
