<div class="row" *ngIf="auth.isAuthenticated()">
  <div class="col-xs-12">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </div>
  <div class="loading" *ngIf="loading">
    <img src="../../../assets/loading.svg" />
  </div>
  <div class="col-xs-12">
    <form [formGroup]="plantListForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <h3>Create new list</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="room">Name ( eg: Living room )</label>
            <input
              type="text"
              id="room"
              formControlName="room"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <hr>
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!plantListForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="panel panel-default profile-area" *ngIf="!auth.isAuthenticated()">
  <div class="panel-heading"><h3>Please login to use this application</h3></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">

        <div class="app-msg-helper">
          <p class="bg-primary">You shouldn't be here!</p>
        </div>

        <img class="img-responsive img-rounded clearfix " src="https://media.giphy.com/media/3o6fIQzTpZkvB573UI/giphy.gif" />

      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
